<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 将render传入的值直接在网页中输出 -->
    <h1><%= name %></h1>
    <form action="./set_name" method="get">
        <input type="text" name="name" placeholder="pleace enter your name" >
        <button>submit</button>
    </form>
</body>
</html>